body{
    margin: 0;
    padding: 0;
    font-family: $fonte-base;
}

#busca{
    width: 100%;
    height: 100%;
    display: none;
    background-color: #00a4ff;
    z-index: 300;
    position: fixed;
    top: 0;
    left: 50%;
    opacity: .9;
    form{
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%,-50%);
        input{
            background-color: transparent;
            border: 3px solid #fff;
            color: #fff;
            padding: 10px;
            width: 534px;
            height: 65px;
            color: #ffffff;
            font-family: $fonte-base;
            font-size: 24px;
            letter-spacing: 1px;
            &::placeholder{
                color: #fff;
            }
        }
        button{
            position: relative;
            bottom: 50px;
            left: 250px;
            background-color: transparent;
            border: none;
            color: #fff;
            font-size: 35px;
            cursor: pointer;
        }
    }
    #busca.active{
        display: block;
    }
}

.banner{
    background: url(images/banner1.png);
    background-size: cover;
    height: 426px;
    padding: 100px 0px;
    &__h2{
        margin: 20px 0px;
        padding: 0;
        color: #ffffff;
        font-family: Roboto;
        font-size: 38px;
        font-weight: 700;
        letter-spacing: 1px;
    }
    &__span{
        color: #ffffff;
        font-family: Roboto;
        font-size: 23px;
        font-weight: 400;
        letter-spacing: 1px;
        width: 714px;
        display: block;
    } 
}
.boxes{
    background-color: $primary-color;
    padding: 50px 0px;
    .box{
        width: 360px;
        height: 341px;
        border: 1px solid #d0d0d0;
        &__row{
            @media (min-width: 1024px) and (max-width: 1124px){
                padding: 15px 15px !important;
            }
            @media (min-width: 768px) and (max-width: 1023px){
                padding: 15px 15px !important;
            }
        }
        h1{
            color: #ffffff;
            font-family: Roboto;
            font-size: 34px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        h2{
            color: #ffffff;
            font-family: Roboto;
            font-size: 23px;
            font-weight: 400;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin: 0;
            padding: 10px 0px;
            text-align: center;
            @media (min-width: 768px) and (max-width: 1023px){
                padding: 0px !important;
                font-size: 19px;
            }
        }
        .quarters{
            padding: 20px 0px;
        }
        h3{
            color: #00a4ff;
            font-family: Roboto;
            font-size: 36px;
            font-weight: 400;
            letter-spacing: 0.74px;
            padding: 0px 10px;
            margin: 0;
            border: 1px solid #fff;
            cursor: pointer;
            &:hover{
                opacity: .7;
            }
        }
        img{
            cursor: pointer;
        }
        .boxData{
            padding: 10px;
            span{
                color: #ffffff;
                font-family: Roboto;
                font-size: 37px;
                font-weight: 400;
                letter-spacing: 1px;
            }
            small{
                color: #ffffff;
                font-family: Roboto;
                font-size: 15px;
                font-weight: 400;
            }
        }
        p{
            color: #ffffff;
            font-family: $fonte-base;
            font-size: 17px;
            font-weight: 400;
            letter-spacing: 0.46px;
            a{
                text-decoration: none;
                color: #fff;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        ul{
            li{
                color: #ffffff;
                font-family: $fonte-base;
                font-size: 17px;
                font-weight: 400;
                letter-spacing: 0.74px;
                margin: 15px 0px;
                a{
                    text-decoration: none;
                    color: #fff;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                @media (min-width: 768px) and (max-width: 1023px){
                    font-size: 13px;
                }
            }
        }
        .events{
            display: flex;
            border: 1px solid #d0d0d0;
            padding: 10px 0px;
            padding-right: 10px;
            align-items: center;
            p{
                color: #ffffff;
                font-family: $fonte-base;
                font-size: 17px;
                font-weight: 400;
                margin: 0;
            }
            .date{
                color: #ffffff;
                font-family: $fonte-base;
                font-size: 17px;
                font-weight: 700;
                @media (min-width: 768px) and (max-width: 1023px){
                    position: relative;
                    right: 35px;
                }
            }
            @media (min-width: 1024px) and (max-width: 1124px){
                padding-right: 25px;
            }
            @media (min-width: 768px) and (max-width: 1023px){
                padding-right: 0px;
            }
        }
        @media (min-width: 1024px) and (max-width: 1124px){
            width: 100%;
            height: 415px;
        }
        @media (min-width: 768px) and (max-width: 1023px){
            width: 100%;
            height: 445px;
        }
    }
}
// .slideshow{
//     h2{
//         margin: 0px 150px;
//         padding: 0;
//         color: #fff;
//         font-family: Roboto;
//         position: relative;
//         font-size: 38px;
//         font-weight: 700;
//         letter-spacing: 1px;
//         bottom: 250px;
//         }
//        .banner__span{ color: #ffffff;
//         font-family: $fonte-base;
//         font-size: 23px;
//         font-weight: 400;
//         letter-spacing: 1px; 
//         position: relative;
//         margin: 15px 150px;
//         bottom: 250px;
//         width: 714px;
//         display: block;
//     }
// }
.quickAccess{
    background: url(images/banner2.png);
    background-size: cover;
    height: 267px;
    h2{
        color: #ffffff;
        font-family: $fonte-base;
        font-size: 38px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    span{
        color: #ffffff;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0.2px;
        margin-top: 15px;
    }
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-decoration: none;
        &:hover{
            opacity: .7;
        }
    }
}

.contactUs{
    background-color: $primary-color;
    padding: 50px 0px;
    &__box{
        width: 555px;
        height: 257px;
        border: 1px solid #d0d0d0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 30px;
        text-align: center;
        h2{
            color: #ffffff;
            font-family: $fonte-base;
            font-size: 32px;
            font-weight: 400;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        p{
            color: #ffffff;
            font-family: Roboto;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0.47px;
        }
        button{
            width: 158px;
            height: 49px;
            background-color: #00a4ff;
            border: none;
            color: #ffffff;
            font-family: $fonte-base;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 1px;
            cursor: pointer;
            &:hover{
                background-color: #fff;
                border: 1px solid #00a4ff;
                color: #00a4ff;
            }
        }
        input{
            background-color: transparent;
            border: 1px solid #d0d0d0;
            padding: 8px;
            width: 220px;
            color: #fff;
            font-style: italic;
            margin: 0px 5px;
            &::placeholder{
                color: #fff;
            } 
        }
        @media (min-width: 1024px) and (max-width: 1124px){
            width: 100%;
        }
        @media (min-width: 768px) and (max-width: 1023px){
            width: 100%;
        }
    }
}

